
/*
 * Stargate font 
 */
@font-face {
    font-family: 'StargateRegular';
    src: url('../fonts/StargateRegular/stargate-webfont.eot');
    src: url('../fonts/StargateRegular/stargate-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/StargateRegular/stargate-webfont.woff') format('woff'),
         url('../fonts/StargateRegular/stargate-webfont.ttf') format('truetype'),
         url('../fonts/StargateRegular/stargate-webfont.svg#StargateRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

div.coming_soon {
	background: rgba(0, 0, 0, 0.9);
	padding: 8px;
	border:  1px solid #000;
	outline: 1px solid #FFF;
	margin:  3px;
	width: 120px;
}

/*
 * special login panel
 */
.futuristic:before, .futuristic:after, .futuristic2:before, .futuristic2:after {
	content: " ";
	position: absolute;
	height: 55%;
	width:  55%;
	border: 4px solid;  
	display: block;
	z-index: -1;
}

.futuristic2:before  
{
	right: -5px;
	top:   -5px;
	border-color: #A1D3EE #A1D3EE transparent transparent;
}
.futuristic:before  
{
	height: 40%;
	width:  0%;
	right: -15px;
	top:   25%;
	border: 7px solid;  
	border-color: transparent transparent transparent #A1D3EE;
}

.futuristic2:after
{
	left:   -5px;
	bottom: -5px;
	border-color: transparent transparent #FC8227 #FC8227;
}
.futuristic:after
{
	height: 25%;
	width:  25%;
	left:   -7px;
	bottom: -7px;
	border: 7px solid;  
	border-color: transparent transparent #FC8227 #FC8227;
}



body
{
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; /* thank you http://www.w3schools.com/css/css_websafe_fonts.asp */
	/*font-family: "Georgia", serif; /* thank you http://www.w3schools.com/css/css_websafe_fonts.asp */
	/*font-family: 'Trebuchet MS', Helvetica, sans-serif;*/
	
	/* make the font slightly bigger */
	font-size: 90%;
	
	/* needed for correct positionning */
	position:absolute;
	height: 100%; /* needed for container min-height */
	width: 100%;
	
	/* just in case */
	margin: 0px; 
	padding: 0px;
	color:white;
	
	background:url(../pics/background_promet_facing_hive.jpg) no-repeat bottom center fixed;
	/* thank you http://css-tricks.com/perfect-full-page-background-image/ */
	-webkit-background-size: cover, auto;
	-moz-background-size: cover, auto;
	-o-background-size: cover, auto;
	-khtml-background-size: cover, auto;
	background-size: cover, auto;
	
	background-color:black;
}

/* override of default wt */
.Wt-form {
    width: 30em;
}


/* a li belonging to a nav group is usually displayed inline */
nav li
{
	display: inline;
	margin: 0px 3px 0px 3px;
	
	/* make the font slightly bigger */
	font-size: 120%;
}

header, hgroup, h1, h2
{
	text-decoration: none;
}

.owa-main-stack
{
	/*position: relative;/**/
	margin:0 auto; /* center, not in IE5 */
	
	/*height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
}

section#landing
{
	width: 500px;
	padding: 0px; /* no right padding due to collision with letter-spacing of header. */
	background: rgba(14, 24, 40, 0.5);
	background: rgba(0, 0, 0, 0.9);
	
	position: absolute;
	top: 10%;
	right: 10%;
	/*border: 1px solid;
	border-color: #A1D3EE #A1D3EE #FC8227 #FC8227;*/
}

section#landing > header
{
	color: rgb(182, 209, 230);
	width: 500px;
	padding: 20px 0px 12px 0px; /* no right padding due to collision with letter-spacing of header. */
	text-align:center;
	/*-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;*/
}

section#landing header h1
{
	font-family: 'StargateRegular';
	font-size: 2.0em;
	letter-spacing: 0.08em;
	margin: 2px 0px 0px 0px; 
	text-shadow: 2px;
	/*padding: 7px 0px 0px 12px;*/
}
section#landing header h2
{
	font-family: 'StargateRegular';
	font-size: 1.8em;
	border: 1px solid;
	border-color: #A1D3EE transparent transparent transparent;
	width: 244px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}
section#landing header h3
{
	letter-spacing: 0.18em;
	font-weight: normal;
	font-size: 0.7em;
	margin: 0px; 
}

section.new_game
{
	/*border: 1px solid #00FF00;*/
	padding: 10px;
	text-align:center;
}

section.new_game h2 {
	text-align:center;
}
section.new_game p *
{
	text-align:center;
	display: block;
	font-size: 90%;
}
section.new_game button
{
	font-size: 100%;
	width: 70px;
	margin: 5px auto 5px auto;
}


footer
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; /* thank you http://www.w3schools.com/css/css_websafe_fonts.asp */
	font-size: 0.7em;
	padding: 0px 0px 0px 0px;
	width: 100%;
	display: inline;
	position: absolute;
	bottom:20px;
	left:30px;
}
footer a
{
	/*color: rgb(85, 26, 139);*/
	color: Thistle;
	text-decoration: none;
}
footer p
{
	/*color: rgb(85, 26, 139);*/
	padding: 0px 0px 0px 27px;
	display: inline;
}



div#app-page
{
	/* needed for correct positionning */
	position:absolute;
	height:100%; /* needed for container min-height */
	width:100%;

	width: 920px;
}

div.TBRPG_play_area {
	/* style="width:514px;position: relative;top:30%;margin-left: auto;margin-right: auto;"
	padding: 12px;
	margin: 20px;*/

	float: left;
	padding: 30px 0 0 35px;
	width: 650px;
}


div.TBRPG_stats_area {
	/*padding: 12px;
	margin: 20px;
	style="width:120px;float: right;" */

	float: right;
	padding: 30px 10px 0 0;
	width: 180px;
}


div.panel
{
	/*padding: 3px 7px 3px 7px;*/
	padding: 12px;
	margin: 20px;
	background: rgba(0, 0, 0, 0.5);



	box-shadow:
		/* common */
		       1px   1px  5px 0px #000,
		       0px   0px  0px 1px #7BC8FB,
		       0px   0px  1px 0px #7BC8FB,
		inset  0px   0px  0px 1px #7BC8FB,
		inset  0px   0px  1px 0px #7BC8FB,
		inset  0px   0px  3px 0px #FFFFFF,
		inset  0px   0px 12px 0px #000;
		
	border: solid 1px #5189C2;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
